body{
    background-image: url('backiee-294783-landscape.jpg');
    background-size: cover;
    
}
.container{
    background-color: grey;
    width: 350px;
    height: 160px;
    border-radius: 10px;
    margin: 300px 0px 0px 100px;
    background-image: url('backiee-294783-landscape.jpg');
    background-size: cover;
}
button:hover{
    background-color: lightskyblue;
}
h2{
    background-color: black;
    color: aliceblue;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
p{
    background-color: aqua;
}